[Unit]
Description=Thonkfan

[Service]
Type=exec
ExecStart=/home/snek/.cargo/bin/thonkfan
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
