[Unit]
Description=Thonkfan

[Service]
Type=exec
ExecStart=/home/snek/.cargo/bin/thonkfan
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
